* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}
body {
  background-color: #fff;
}
.App {
  text-align: center;
}
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}
.todo-form input {
  width: 350px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
}
.todo-form input:focus {
  border-bottom: 2px solid rgb(211, 53, 53);
}
.todo-form button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(211, 53, 53);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.todos {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
}
.todos ul {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 10px;
}
.todos ul li {
  padding: 0 15px;
}
.order {
  margin: 0 0 0 15px;
  height: 15px;
  border-radius: 5px;
  background-color: rgb(228 66 50 / 64%);
}
